include(allow_generator.m4)
both_directive(domain_t, file, test1_t, write, test2_t, read, type3_t, create)
both_directive(domain_t, file, testA_t, write, testB_t, read, typeB_t, create)

